<%= simple_form_for @user, html: { class: 'form-horizontal' },
  wrapper: :horizontal_form,
  wrapper_mappings: {
    check_boxes: :horizontal_radio_and_checkboxes,
    radio_buttons: :horizontal_radio_and_checkboxes,
    file: :horizontal_file_input,
    boolean: :horizontal_boolean
  } do |f| %>

  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.input :name, placeholder: 'Full name' %>

  <%= f.input :email, placeholder: 'Email address' %>

  <%= f.input :phone, placeholder: '555-555-5555', pattern: '\d{3}[\-]\d{3}[\-]\d{4}' %>

  <%= f.input :phone_carrier, collection: carrier_collection %>

  <%= f.input :relevant_experience %>

  <% if can? :manage, User %>
    <%= f.input :role, collection: User::ROLES %>
  <% end %>

  <%= f.input :employment_status, collection: User::STATUSES.map(&:capitalize) %>

  <%= f.input :station_staff, as: :radio_buttons %>

  <%= f.input :password %>

  <%= f.input :password_confirmation %>

  <div class="form-group actions">
    <% if f.object.new_record? %>
      <%= button_tag(type: 'submit', class: "btn btn-primary") do %>
        <span class="glyphicon glyphicon-floppy-disk"></span> Create User
      <% end %>
    <% else %>
      <%= button_tag(type: 'submit', class: "btn btn-primary") do %>
        <span class="glyphicon glyphicon-floppy-disk"></span> Update User
      <% end %>
    <% end %>
  </div>
<% end %>
