<%= simple_form_for @user, html: { class: 'form-horizontal' },
  wrapper: :horizontal_form,
  wrapper_mappings: {
    check_boxes: :horizontal_radio_and_checkboxes,
    radio_buttons: :horizontal_radio_and_checkboxes,
    file: :horizontal_file_input,
    boolean: :horizontal_boolean
  } do |f| %>

  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.input :name, placeholder: 'Full name', wrapper_html: { class: 'field' } %>

  <%= f.input :email, placeholder: 'Email address', wrapper_html: { class: 'field' } %>

  <%= f.input :phone, placeholder: '555-555-5555', pattern: '\d{3}[\-]\d{3}[\-]\d{4}', wrapper_html: { class: 'field' } %>

  <%= f.input :phone_carrier, collection: carrier_collection.map { |pair|  { pair[0] => pair[1] } }, wrapper_html: { class: 'field' } %>

  <%= f.input :relevant_experience, wrapper_html: { class: 'field' } %>

  <% if can? :manage, User %>
    <%= f.input :role, collection: User::ROLES, wrapper_html: { class: 'field' } %>
  <% end %>

  <%= f.input :employment_status, collection: User::STATUSES.map(&:capitalize), wrapper_html: { class: 'field' } %>

  <%= f.input :station_staff, as: :radio_buttons, wrapper_html: { class: 'field' } %>

  <%= f.input :password, wrapper_html: { class: 'field' } %>

  <%= f.input :password_confirmation, wrapper_html: { class: 'field' } %>

  <div class="form-group actions">
    <%= f.button :submit %>
  </div>
<% end %>
