<!DOCTYPE html>
<html>
<head>
  <title>DiskJockey</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
  <%= render 'shared/navigation' %>
</header>

<main class="container">
  <%= yield %>
</main>

<footer>

</footer>

</body>
</html>
